{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    <div class="container mt-4 col col-lg-3">

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.termsAccepted) }}

        <button type="submit" class="btn btn-secondary">S'inscrire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}